.pduset {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.container {
   margin: 2%;
   width: 96%;
   background: rgb(39, 39, 39);
   border-radius: 15px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
.container > .pdunumber  {
   position: absolute;
   color: whitesmoke;
   font-size: 30px;
   background: rgb(39, 39, 39);
   border-radius: 10px;
   height: 35px;
   margin-top: -12px;
   margin-left: 2.5%;
   padding: 0 10px;
}
.container > .side-name { 
   position: absolute;
   color: whitesmoke;
   background: rgb(39, 39, 39);
   height: 20px;
   margin-top: 155px;
   margin-left: -72px;
   padding: 0 10px;
   transform: rotate(-90deg); 
}
.container > .err {
   margin-left: -45px;
}
.hostname {
   margin-left: auto;
   margin-right: auto;
   display: inherit;
   justify-items: center;
} 
.o-box {
   height: 100px;
   padding: 10px 10px;
   border-radius: 15px;
   display: grid;
   width: 24%;
   margin: 25px 5px 10px 10px;
}
.o-box> .hostname {
   /* position: absolute; */
   color: whitesmoke;
   background: rgb(39, 39, 39);;
   height: 20px;
   margin: -5px 0 0 0;
   /* margin-top: -12px; */
   /* margin-bottom: auto; */
   padding: 0 10px;
}
.o-box > .side-name { 
   position: absolute;
   color: whitesmoke;
   background: rgb(39, 39, 39);;
   height: 20px;
   margin: 45px 0 0 -45px;
   /* margin-top: 38px;
   margin-left: -45px; */
   padding: 0 10px;
   transform: rotate(-90deg); 
}
.row-top {
   display: flex;
   padding: 10px 15px 10px 15px;
   background-color: initial;
   border-top: inherit;
}
.row-bottom {
   display: flex;
   padding: 5px 15px 15px 15px;
   background-color: initial;
   border-bottom: inherit;
}
.column {
   color:black;
}
/* button > .on {
   border: 1px solid #0066cc;
   background-color: #0099cc;
   color: #ffffff;
   padding: 5px 10px;
 }
 
 button:hover {
   border: 1px solid #0099cc;
   background-color: #00aacc;
   color: #ffffff;
   padding: 5px 10px;
 } */

 iframe {
   width: 96%;
   height: 26em;
   border: 0;
 }

button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #bbbbbb;
  color: #a4a4a4;
}
.err, .off {
   box-shadow: 0px 0px 10px 3px rgb(197, 2, 2);
}
.none {
   box-shadow: 0px 0px 10px 3px rgb(78, 77, 77);
}
.run {
   box-shadow: 0px 0px 10px 3px rgb(9, 222, 9);
}
.cycle {
   animation: pulse 2s infinite;
   animation-timing-function: linear
}

@media screen and (max-width: 420px) {
   .pduset {
      transform: rotate(90deg); 
   }
   .o-box {
      transform: rotate(-90deg); 
      height: auto;
   }

   .o-box > .hostname {
      margin: -5px 0 0 5px;
    }
    .container > .side-name {
      margin-top: 17em;
      margin-left: 30px;
      transform: rotate(-180deg); 
    }
   .container > .pdunumber {
      height: 21%;
      margin-top: 4em;
      margin-left: -20%;
      transform: rotate(-90deg); 
    }

 }






@media screen and (min-width: 600px) {
   .pduset {
      display: grid;
      grid-template-columns: 1fr;
   }
 }
@media screen and (min-width: 1200px) {
   .pduset {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
 }
@media screen and (min-width: 2400px) {
   .pduset {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

@media screen and (max-width: 600px) {
   .pduset {
      display: grid;
      grid-template-columns: 1fr;
   }

   .o-box> .hostname {
      margin: -12px 0 0 25px;
   }
   
}

@keyframes pulse {
   0%, 100% {
      box-shadow: 0px 0px 10px 3px rgb(9, 222, 9);
     /* background-color: #d7d709; */
   }
   50% {
      box-shadow: 0px 0px 10px 3px rgb(197, 2, 2);
     /* background-color: #bc1b1b; */
   }
 }