
.grid-container-1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-container-1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.location {
    width: 100%;
    grid-row: 1;
    grid-column-end: span 8
}
.grid-container-1 > .location {
    background-color: rgb(255, 255, 255);
}
.grid-container-1 > .shelf-name {
    background-color: rgb(255, 255, 255);
}
.shelf > .shelf-item-v {
    font-size: 15px;
}
.shelf > .shelf-item-h {
    font-size: 15px;
}

.shelf-name {
    grid-row: 1;
}

.column-6 {
    color: brown;
    grid-column: auto;
}
.column-7 {
    color: blue;
    grid-row: 2;
    grid-column: auto;
}
.column-40 {
    color: red;
    grid-row: 2;
    grid-column: 8;
}
.shelf {
    float: left;
    border-bottom: 30px solid #a5a5a5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	top: -15px;
	z-index: -10;
}
.shelf:after {
	content: '';
	background: #686868;
	height: 20px;
	width: calc(100% + 40px); /*IE9+*/
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 -20px;
}


.shelf-item-v {
    padding: 15px 0 0 0;
	margin: auto;
    transform: rotate(-90deg);
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.shelf-item-v :before { /* Just to give a little puddle of a shadow without adding another element */
	content: '';
    display: block;
    width: 80%;
    height: 1em;
    background: rgba(0,0,0,.35);
    border-radius: 50%;
    position: absolute;
    bottom:-10px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index:-5;
}
.shelf-item-h {
    padding: 15px 0 0 0;
	margin: auto;
}
































.name{
    display: block;
    width: auto;
    text-align: center;
    padding: 0 0 20dvh 0;
}

.location{
    width: auto;
    text-align: center;
}

.ba-1::before{
    display: table;
    content: " ";
}
.bay-1 {
    display: table;
    content: " ";
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}
.content > .bay-1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.row-6 {
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row-6::before {
    display: table;
    content: " ";
}





.shelf:after {
    content: '';
	background: #686868;
	height: 20px;
	width: calc(100% + 40px); /*IE9+*/
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 -20px;
}
.shelf:after .item-v {
	top: 30px;
}
.shelf {
    position: relative;
    width: 100%;
    border-bottom: 30px solid #a5a5a5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -15px;
    z-index: -10;
}





p:before { /* Just to give a little puddle of a shadow without adding another element */
    content: '';
    display: block;
    width: 80%;
    height: 1em;
    background: rgba(0,0,0,.35);
    border-radius: 50%;
    position: absolute;
    bottom:-10px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index:-5;
}
.item-v {
    display: inline-block;
    position: relative;
    /* top: -50px;
    right: 50%; */
    color: aqua;
    background-color: rgba(51, 135, 51, 0.468);
    border: 0;
    border-radius: 2.5px;
    width: 25%;
    max-width: 50%;
    height: auto;
	margin: auto;
    padding: 15px 10px 1px 10px;

    transform: rotate(-90deg);
}

.item-h {
    display: block;
    position: relative;
    top: -50px;
    right: 50%;
    color: aqua;
    background-color: rgba(51, 135, 51, 0.468);
    width: 25%;
    max-width: 33%;
    float: right;
    height: auto;
	margin: auto;
    padding: 15px 10px 0 10px;
    border: 0;
    border-radius: 2.5px;
}