<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title class="nav">{% block title %} {% endblock %} - Mesa CI Portal</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static',filename='pdu_table.css') }}"/>
  <script type="text/javascript" src="{{ url_for('static',filename='pdu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.7.0.min.js') }}"></script>    
</head>


<body {% block body %} {% endblock %} >

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>