{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} List available PDU in CI{% endblock %}</h1></span>
        <div class="content pduset">
            {% for item in conf%}
            <iframe class="row" src="single_{{ item[0] }}"></iframe>
            {% endfor %}
        </div>
{% endblock %}
