{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} List available PDU in CI{% endblock %}</h1></span>

    <div class="content pduset">
        <iframe class="row" src="single_{{ conf[0] }}"></iframe>
    </div>
{% endblock %}
