<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title class="nav">Single PDU - Mesa CI Automaiion</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='pdu_table.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename='pdu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.7.0.min.js') }}"></script>    
</head>

<body onload="get_pdu_info( {{ conf[0] }}  )">
    <div class="content pduset">
        <div class="container" id="pdu-{{ conf[0] }}">
            <span class="pdunumber"><b>PDU: {{ conf[0] }}</b></span>
            {% if conf[2] == 'Error' %}
            <div class="side-name err"><i>  IP: {{ conf[1] }}</i></div>
            {% else %}
            <div class="side-name"><i>  IP: {{ conf[1] }}</i></div>
            {% endif%}
            <div class="row-top">
                <div id="1" class="o-box none">
                    <span class="side-name">Outlet: 1 </span>
                    {% if conf[2] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[2] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[2] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[2] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[2] }}</b></span>
                    <button type="button" name="{{ conf[2] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[2] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[2] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div id="2" class="o-box none">
                    <span class="side-name">Outlet: 2 </span>
                    {% if conf[3] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[3] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[3] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[3] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[3] }}</b></span>
                    <button type="button" name="{{ conf[3] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[3] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[3] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div  id="3" class="o-box none">
                    <span class="side-name">Outlet: 3 </span>
                    {% if conf[4] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[4] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[4] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[4] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[4] }}</b></span>
                    <button type="button" name="{{ conf[4] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[4] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[4] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div  id="4" class="o-box none">
                    <span class="side-name">Outlet: 4 </span>
                    {% if conf[5] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[5] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[5] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[5] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[5] }}</b></span>
                    <button type="button" name="{{ conf[5] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[5] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[5] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
            </div>

            <div class="row-bottom">
                <div  id="5" class="o-box none">
                    <span class="side-name">Outlet: 15 </span>
                    {% if conf[6] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[6] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[6] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[6] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[6] }}</b></span>
                    <button type="button" name="{{ conf[6] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[6] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[6] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div  id="6" class="o-box none">
                    <span class="side-name">Outlet: 6</span>
                    {% if conf[7] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[7] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[7] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[7] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[7] }}</b></span>
                    <button type="button" name="{{ conf[7] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[7] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[7] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div  id="7" class="o-box none">
                    <span class="side-name">Outlet: 7</span>
                    {% if conf[8] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[8] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[8] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[8] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[8] }}</b></span>
                    <button type="button" name="{{ conf[8] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[8] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[8] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
                <div  id="8" class="o-box none">
                    <span class="side-name">Outlet: 8</span>
                    {% if conf[9] == None %}
                    <span class="hostname"><b style="color: rgb(83, 83, 83);">{{ conf[9] }}</b></span>
                    <button disabled type="button">ON</button>
                    <button disabled type="button">Cycle</but-on> 
                    <button disabled type="button">OFF</button>
                    {% elif conf[9] == 'Error' %}
                    <span class="hostname"><b style="color: rgb(255, 0, 0);">{{ conf[9] }}</b></span>
                    <button disabled type="button">Error</button>
                    <button disabled type="button">Error</but-on> 
                    <button disabled type="button">Error</button>
                    {% else %}
                    <span class="hostname"><b style="color: yellow;">{{ conf[9] }}</b></span>
                    <button type="button" name="{{ conf[9] }}" onclick="state(this)">On</button>
                    <button type="button" name="{{ conf[9] }}" onclick="state(this)">Cycle</button>
                    <button type="button" name="{{ conf[9] }}" onclick="state(this)">Off</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>